<%-include('./partials/header') %>

    <main class="content__container--a">
            <img src="/img/img.avif" alt="" class="content__img">
            <p class="text">O'Playlist, créer vos propre playlist simplement</p>
            <a href="/playlists" class="content__container__add__form__button">Voir mes playlists</a>
    </main>

    <%-include('./partials/footer') %>